@using ThueXeDapHoiAn.Areas.Client.Models.ViewModels
@model List<DonThueViewModel_Client>
@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@section Styles {
<link rel="stylesheet" href="~/css/LayoutClient.css" />
<link rel="stylesheet" href="~/css/DonThue.css" />
}

<div class="ndung-container">
    <div class="ndung">
        <h5 class="qly">QUẢN LÝ ĐƠN THUÊ</h5>
        <div id="alert-box" class="alert alert-success" style="display:none;"></div>
        <div class="wrapper-table">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Mã đơn thuê</th>
                            <th scope="col">Loại xe đặt</th>
                            <th scope="col">Cửa hàng cho thuê</th>
                            <th scope="col" class="status-col">Trạng thái</th>
                            <th scope="col">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">@item.IdDonThue</td>
                                <td>
                                    @foreach (var don in item.DanhSachXe)
                                    {
                                        foreach (var xe in don.DanhSachXe)
                                        {
                                            <div>@xe.TenXe</div>
                                        }
                                    }
                                </td>
                                <td>@item.TenCuaHang</td>
                                <td class="status-col">
                                    @{
                                        string statusClass = item.TrangThai switch
                                        {
                                            "Đang chờ duyệt" => "cho-duyet",
                                            "Đã duyệt đơn" => "da-duyet",
                                            "Hoàn thành" => "hoan-thanh",
                                            "Đang thuê" => "dang-thue",
                                            "Quá hạn" => "qua-han",
                                            "Đã hủy" => "da-huy",
                                            _ => ""
                                        };
                                    }
                                    <span class="status @statusClass">@item.TrangThai</span>
                                </td>
                                <td>
                                    @if(item.TrangThai.Equals("Hoàn thành"))
                                    {
                                        <a asp-area="Client" asp-controller="DonThue" asp-action="ChiTietDonThueHoanThanh" asp-route-id="@item.IdDonThue">
                                            <button class="btn btn-warning">Xem</button>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-area="Client" asp-controller="DonThue" asp-action="ChiTietDonThueChuaDuyet" asp-route-id="@item.IdDonThue">
                                            <button class="btn btn-warning">Xem</button>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
