@model IEnumerable<ThueXeDapHoiAn.Areas.Client.Models.KhuyenMaiModel_Client>

@{
    Layout = "~/Areas/Client/Views/Shared/_LayoutCuaHang.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/LayoutClient.css" />
}

<header>
    <nav class="main-nav">
        <a asp-area="Client" asp-controller="CuaHang" asp-action="ThongTinCuaHang">Thông tin cửa hàng</a>
        <a asp-area="Client" asp-controller="CuaHang" asp-action="DanhSachXe">Quản lý xe</a>
        <a asp-area="Client" asp-controller="CuaHang" asp-action="DonThueChoDuyet">Quản lý đơn thuê</a>
        <a href="#">Báo cáo</a>
        <a asp-area="Client" asp-controller="CuaHang" asp-action="DanhSachKhuyenMai" class="active">Khuyến mãi</a>
    </nav>
</header>

<!-- WRAPPER -->
<div class="wrapper_cuahang">
    <aside>
        <h3>Quản lý</h3>
        <nav>
            <a class="active">Danh sách mã</a>
            <a asp-area="Client" asp-controller="CuaHang" asp-action="ThemMaKhuyenMai">Thêm mã</a>
        </nav>
    </aside>

    <div class="content_cuahang">
        <div class="container_cuahang">
            <h2>Danh sách mã khuyến mãi</h2>

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã khuyến mãi</th>
                        <th>Mức giảm giá (%)</th>
                        <th>Đơn tối thiểu (VNĐ)</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var km in Model)
                    {
                        var mucGiamGia = km.MucGiamGia *100;
                        <tr>
                            <td>@km.IdKhuyenMai</td>
                            <td>@km.MaKhuyenMai</td>
                            <td>@mucGiamGia %</td>
                            <td>@km.DonToiThieu.ToString("N0")</td>
                            <td>@km.SoLuong</td>
                            <td>@(km.TrangThaiKhuyenMai ? "Kích hoạt" : "Vô hiệu")</td>
                            <td>
                                <a href="@Url.Action("SuaKhuyenMai", "CuaHang", new { area = "Client", idKhuyenMai = km.IdKhuyenMai })">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a href="@Url.Action("XoaKhuyenMai", "CuaHang", new { area = "Client", id = km.IdKhuyenMai })" onclick="return confirm('Bạn có chắc chắn muốn xóa khuyến mãi này?')">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
